RepoView {
    layout: vertical;
    background: $boost;
    margin: 1;
    min-width: 50;
    padding-top: 0;
    padding-left: 5;
    padding-right: 5;
    padding-bottom: 0;
    height: 3;
}

IssueView {
    height: 1;
}

.issue-title {
  color: cyan;
}

.repo-title {
  color: yellow;
  align: center middle;
  width: auto;
}

.display {
    display: block;
}

.none {
    display: none;
}
