RepoView {
    layout: vertical;
    background: $boost;
    margin: 1;
    min-width: 50;
    padding-top: 0;
    padding-left: 5;
    padding-right: 5;
    padding-bottom: 0;
    height: 5;
}

IssueView {
}

Button {
    width: 16;
}


.display {
    display: block;
}

.none {
    display: none;
}
